.shrine-layout {
	position: relative;
}

.animated {
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
	animation-iteration-count: 4;
}

@-webkit-keyframes shrine {
	from {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} to {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} 12.5% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(-20px,0px) scale(1,1) rotate(2deg) skew(0deg,0deg);
		opacity: 1.0;
	} 37.5% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(20px,0px) scale(1,1) rotate(-2deg) skew(0deg,0deg);
		opacity: 1.0;
	} 62.5% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(-20px,0px) scale(1,1) rotate(2deg) skew(0deg,0deg);
		opacity: 1.0;
	} 87.5% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(20px,0px) scale(1,1) rotate(-2deg) skew(0deg,0deg);
		opacity: 1.0;
	}
}

@keyframes shrine {
	from {
		animation-timing-function: linear;
		transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} to {
		animation-timing-function: linear;
		transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} 12.5% {
		animation-timing-function: linear;
		transform: translate(-20px,0px) scale(1,1) rotate(2deg) skew(0deg,0deg);
		opacity: 1.0;
	} 37.5% {
		animation-timing-function: linear;
		transform: translate(20px,0px) scale(1,1) rotate(-2deg) skew(0deg,0deg);
		opacity: 1.0;
	} 62.5% {
		animation-timing-function: linear;
		transform: translate(-20px,0px) scale(1,1) rotate(2deg) skew(0deg,0deg);
		opacity: 1.0;
	} 87.5% {
		animation-timing-function: linear;
		transform: translate(20px,0px) scale(1,1) rotate(-2deg) skew(0deg,0deg);
		opacity: 1.0;
	}
}

.shrine {
	-webkit-animation-name: shrine;
	animation-name: shrine;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.result-container {
	position: absolute;
	top: 120px;
	left: 206px;
	border: 18px solid #121940;
	background-color: #faf7ed;
	font-family: "YujiSyuku-Regular";
	font-size: 140px;
	writing-mode: vertical-rl;
}

.result-animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-delay: 3.1s;
	animation-delay: 3.1s;
}

@keyframes result {
	from {
		transform: scale(2,2);
		opacity: 0;
	} to {
		transform: scale(1,1);
		opacity: 1;
	}
}

.result--not-showing {
	opacity: 0;
}

.result--showing {
	-webkit-animation-name: result;
	animation-name: result;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	animation-timing-function: cubic-bezier(1,.03,1,.32);
}

.open-button {
	margin: 0;
	padding: 16px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 8px black;
}

.open-button:hover {
	background-color: #e3eeff;
}

.sound-credit-container {
	margin: 16px 0 0 0;
}