.shrine-layout {
	position: relative;
}

.animated {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

@-webkit-keyframes shrine {
	from {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} to {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} 15% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(-40px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 26% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(40px,0px) scale(1,1) rotate(-5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 37% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(-30px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 52% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(30px,0px) scale(1,1) rotate(-5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 68% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translate(-30px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 
}

@keyframes shrine {
	from {
		animation-timing-function: linear;
		transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} to {
		animation-timing-function: ease-out;
		transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} 15% {
		animation-timing-function: linear;
		transform: translate(-40px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 26% {
		animation-timing-function: linear;
		transform: translate(40px,0px) scale(1,1) rotate(-5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 37% {
		animation-timing-function: linear;
		transform: translate(-30px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 52% {
		animation-timing-function: linear;
		transform: translate(30px,0px) scale(1,1) rotate(-5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 68% {
		animation-timing-function: ease-out;
		transform: translate(-30px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 
}

.shrine {
	-webkit-animation-name: shrine;
	animation-name: shrine;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.result-container {
	position: absolute;
	top: 120px;
	left: 206px;
	border: 18px solid #121940;
	background-color: #faf7ed;
	font-family: "YujiSyuku-Regular";
	font-size: 140px;
	writing-mode: vertical-rl;
}

.result-animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-delay: 3.1s;
	animation-delay: 3.1s;
}

@keyframes result {
	from {
		animation-timing-function: linear;
		opacity: 0;
	} to {
		animation-timing-function: linear;
		opacity: 1;
	}
}

.result--not-showing {
	opacity: 0;
}

.result--showing {
	-webkit-animation-name: result;
	animation-name: result;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.open-button {
	margin: 0;
	padding: 16px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 8px black;
}

.open-button:hover {
	background-color: #e3eeff;
}