.animated {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

@-webkit-keyframes shrine {
	from {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} to {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} 15% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(-40px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 26% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(40px,0px) scale(1,1) rotate(-5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 37% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(-30px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 52% {
		-webkit-animation-timing-function: linear;
		-webkit-transform: translate(30px,0px) scale(1,1) rotate(-5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 68% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translate(-30px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 
}

@keyframes shrine {
	from {
		animation-timing-function: linear;
		transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} to {
		animation-timing-function: ease-out;
		transform: translate(0px,0px) scale(1,1) rotate(0deg) skew(0deg,0deg);
		opacity: 1.0;
	} 15% {
		animation-timing-function: linear;
		transform: translate(-40px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 26% {
		animation-timing-function: linear;
		transform: translate(40px,0px) scale(1,1) rotate(-5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 37% {
		animation-timing-function: linear;
		transform: translate(-30px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 52% {
		animation-timing-function: linear;
		transform: translate(30px,0px) scale(1,1) rotate(-5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 68% {
		animation-timing-function: ease-out;
		transform: translate(-30px,0px) scale(1,1) rotate(5deg) skew(0deg,0deg);
		opacity: 1.0;
	} 
}

.shrine-container {
	position: relative;
}

.shrine {
	-webkit-animation-name: shrine;
	animation-name: shrine;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
